<div
  class="card"
  (click)="clickedCard.emit()"
  [style.visibility]="card.state === 'matched' ? 'hidden' : 'visible'"
>
  <div
    class="back-side"
    [style.display]="card.state === 'back' ? 'block' : 'none'"
  >
    <!-- <img
      src="https://wallcolors.pl/51702-superlarge_default/watercolor-flowers-wallpaper.jpg"
    /> -->
    <img src="../../assets/images/back.jpg" />
  </div>
  <div
    class="front-side"
    [style.display]="card.state === 'front' ? 'block' : 'none'"
  >
    <img [src]="card.image" [alt]="card.image" />
  </div>
</div>
